.wrapper {
  margin: 50px;
}

h1 {
  color: lightgray;
  font-family: lato;
  font-size: 20px;
  font-weight: 200;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* CSS transitions: an introduction */
.container {
  display: inline-block;
  width: 300px;
}

.box {
  border-radius: 5px;
  height: 40px;
  margin: 50px auto;
  width: 80px;
}

.wrapper:hover .box {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.box1 {
  background: mediumturquoise;
}

.box2 {
  background: #2b3f53;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* this box transforms to be double it's original size but it does so smoothly and gradually */
/* transition-duration (required) */
.container2 {
  display: inline-block;
  width: 150px;
}

h1 {
  color: lightgray;
  font-family: lato;
  font-size: 20px;
  font-weight: 200;
  padding: 20px;
  text-align: center;
}

.circ {
  border-radius: 50%;
  height: 40px;
  margin: 50px auto;
  width: 40px;
}

.wrapper:hover .circ {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.circ1 {
  background: #60D4C8;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.circ2 {
  background: #46BAAF;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.circ3 {
  background: #3EA69B;
  -webkit-transition: all 3s;
  transition: all 3s;
}

/* transition-timing (optional) */
.container3 {
  margin: 100px;
}

.circle, .circle0, .circle1, .circle2, .circle3, .circle4, .circle5 {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 10px;
}

.container3:hover .circle, .container3:hover .circle0, .container3:hover .circle1, .container3:hover .circle2, .container3:hover .circle3, .container3:hover .circle4, .container3:hover .circle5 {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.circle0 {
  background: PaleTurquoise;
  -webkit-transition: all 1.5s linear;
  transition: all 1.5s linear;
}

.circle1 {
  background: salmon;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.circle2 {
  background: lightskyblue;
  -webkit-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in;
}

.circle3 {
  background: khaki;
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

.circle4 {
  background: mediumturquoise;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.circle5 {
  background: thistle;
  -webkit-transition: all 1.5s cubic-bezier(0, 1, 0.98, 0);
  transition: all 1.5s cubic-bezier(0, 1, 0.98, 0);
}

/* transition-delay (optional) */
.container4 {
  margin: 100px;
}

.boxaa {
  background: steelblue;
  border-radius: 5px;
  display: inline-block;
  height: 80px;
  margin: 20px;
  width: 80px;
}

.container4:hover .boxaa {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.boxa {
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
}

.boxb {
  -webkit-transition: all 1.3s 0.5s;
  transition: all 1.3s 0.5s;
}

.boxc {
  -webkit-transition: all 1.3s 1s;
  transition: all 1.3s 1s;
}
/*# sourceMappingURL=styles.css.map */